/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Lists */
    --white-900: hsl(0, 0%, 100%);
    --red-500: hsl(0, 100%, 67%);
    --yellow-500: hsl(39, 100%, 56%);
    --green-500: hsl(166, 100%, 37%);
    --blue-100: hsl(221, 100%, 96%);
    --blue-200: hsl(241, 100%, 89%);
    --blue-500: hsl(234, 85%, 45%);
    --blue-800: hsl(224, 30%, 27%);
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}