/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Lists */
    --white-900: hsl(0, 0%, 100%);
    --red-500: hsl(0, 100%, 67%);
    --trans-red: hsla(0, 100%, 67%, .1);
    --yellow-500: hsl(39, 100%, 56%);
    --trans-yellow: hsla(39, 100%, 56%, .1);
    --green-500: hsl(166, 100%, 37%);
    --trans-green: hsla(166, 100%, 37%, .1);
    --blue-100: hsl(221, 100%, 96%);
    --blue-200: hsl(241, 100%, 89%);
    --blue-500: hsl(234, 85%, 45%);
    --blue-800: hsl(224, 30%, 27%);
    --trans-blue: hsla(234, 85%, 45%, .1);
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue-100);
}

/* Utilities */
.bg-red {
    background-color: var(--trans-red);
}

.bg-yellow {
    background-color: var(--trans-yellow);
}

.bg-green {
    background-color: var(--trans-green);
}

.bg-blue {
    background-color: var(--trans-blue);
}

.red {
    color: var(--red-500);
}

.yellow {
    color: var(--yellow-500);
}

.green {
    color: var(--green-500);
}

.blue {
    color: var(--blue-500);
}

.grade {
    margin-bottom: .9rem;
    font-size: 2rem;
    color: var(--white-900);
}

/* Main Section*/
.result-summary__container {
    width: 46rem;
    height: 32rem;
    display: flex;
    font-size: 1.125rem;
    background-color: var(--white-900);
    border-radius: 2rem;
}

.result__container,
.summary__container {
    width: 50%;
}

/* Result Section */
.result__container {
    padding: 2rem 3rem;
    color: var(--blue-200);
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 2rem;
}

.result__diagram {
    width: 200px;
    height: 200px;
    margin: 1.8rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
}

.average_score {
    display: block;
    font-weight: 800;
    font-size: 3rem;
    color: var(--white-900);
}